<html>
<body>
    <div class="col-lg-4">
        <h1>You Searched For : Stuff</h1>
        <ul>
            <li>dummy data</li>
            <li>dummy data</li>
            <li>dummy data</li>
        </ul>
        <div class="col-lg-4"></div>
    </div>
    <script src="public/js/example.js"></script>
</body>
</html>