<html>
<body>
    <div class="col-lg-4">
        <h1>You Searched For : <%= data.userQuery %></h1>
        <% if(data.loggedIn){ %>
            <hs> You are logged in as : <%= data.username %> </h2>
        <%  } %>
        <ul>
            <% data.searchResults.forEach(result=>{ %>
                <li> <%= result %> </li>
           <% }); %>
        </ul>
        <div class="col-lg-4"></div>
    </div>
    <script src="public/js/example.js"></script>
</body>
</html>